[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyter = "*"
matplotlib = "*"
pandas = "*"
tqdm = "*"
scikit-learn = "*"
scipy = "*"
keras = "*"
tensorflow = "*"
"h5py" = "*"
pillow = "*"


[dev-packages]

